# Python
__pycache__/
*.py[cod]
*.pyc

# Virtual environment
venv/

# Logs
logs/
*.log

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Temporary files
tempCodeRunnerFile.py